<div class="modal fade" id="restoreModal" tabindex="-1" role="dialog" aria-labelledby="restoreModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="restoreModalLabel">Restoration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Voulez-vous supprimer cette données ?
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal">Non</a>
        <a class="btn btn-danger BtnrestoreModalConfirm">Oui</a>
      </div>
    </div>
  </div>
</div>
