{% extends 'admin.html.twig' %}

{% block content_title %}User index{% endblock %}

{% block bodyAdmin %}
    <h1>User index</h1>
    <table class="table table-border table-hover table-striped table-sm thead-light" data-toggle="table" data-url="{{ api }}" data-locale="fr_FR" data-pagination="true" data-total-field="count" data-show-refresh="true" data-show-columns="true" data-show-fullscreen="true" data-checkbox-header="false" data-sortable="true" data-sort-class="table-active" data-height="600" data-side-pagination="server" data-sort-stable="true"  data-search="true" data-page-list="[5, 10, 25, 50]" data-show-refresh="true" data-show-toggle="true" data-id-field="id" data-click-to-select="true">
        <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="username" data-sortable="true">Username</th>
                <th data-field="email" data-sortable="true">Email</th>
                <th data-field="roles" data-sortable="true">Roles</th>
                <th data-field="avatar" data-sortable="true" data-formatter="imageFormatter">ApiKey</th>
                <th data-field="apiKey" data-sortable="true">ApiKey</th>
                <th data-field="enable" data-sortable="true">Enable</th>
                <th data-field="avatar" data-sortable="true">Avatar</th>
                <th data-field="createdAt" data-sortable="true" data-formatter="dateFormatter">CreatedAt</th>
                <th data-field="updatedAt" data-sortable="true" data-formatter="dateFormatter">UpdatedAt</th>
            </tr>
        </thead>
    </table>

    <a href="{{ path('adminuser_new') }}">Create new</a>
{% endblock %}
