{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {{ form_start(formLogin) }}
    {{ form_end(formLogin) }}
{% endblock %}
