<h3>Message depuis le site %site%</h3>
<br />
Bonjour %username%, vous avez demand&eacute; de changer de mot de passe le %date%.
<br />
Pour pouvoir le changer,  merci de cliquer sur cette <a href="%url%">%url%</a>
