parameters:
  level: 8
  checkMissingIterableValueType: false
  inferPrivatePropertyTypeFromConstructor: true
  paths:
    - src
    - tests
  excludes_analyse:
    - src/Migrations/*
  ignoreErrors:
    - '#Call to an undefined method [a-zA-Z0-9\\_]+::__toString\(\)#'
