{% extends 'base.html.twig' %}

{% block content_title %}Edit Configuration{% endblock %}

{% block body %}
    <h1>Edit Configuration</h1>

    {{ include('admin/configuration/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('adminconfiguration_index') }}">back to list</a>
{% endblock %}
