{% extends 'base.html.twig' %}

{% block page_title %}Lost password{% endblock %}

{% block body %}
    <div id="RowLogin">
        {{ form_start(formChangePassword) }}
            <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
        {{ form_end(formChangePassword) }}
    </div>
{% endblock %}
