@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import '~jquery-ui/themes/base/all.css';
@import '~tinymce/skins/ui/oxide/content.min.css';
@import '~prismjs/themes/prism.css';
@import '~prismjs/themes/prism-coy.css';
@import '~prismjs/plugins/toolbar/prism-toolbar.css';
@import '~prismjs/plugins/autolinker/prism-autolinker.css';
@import '~prismjs/plugins/previewers/prism-previewers.css';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';
@import '~jsplumb/css/jsplumbtoolkit-defaults.css';
@import '~bootstrap-table/dist/bootstrap-table.css';
@import 'admin.scss';
@import 'error.scss';
@import 'login.scss';
@import 'public.scss';
@import 'disclaimer.scss';

.btn {
  cursor: pointer;
}

#sortable {
  list-style-type: none;

  li {
    margin: 0 3px 3px 3px;
    cursor: all-scroll;
  }
}

.custom-control-label {
  cursor: pointer;
}

label {
  &.required {
    &::after {
      content: ' *';
      color: red;
    }
  }
}

legend {
  &.required {
    &::after {
      content: ' *';
      color: red;
    }
  }
}

.form-check-inline {
  .required {
    &::after {
      content: '';
    }
  }
}
