@import "~jquery-resizable-columns/dist/jquery.resizableColumns.css";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";

.PublicPages {
  background-color: #ddd;

  .main {
    width: 99%;

    aside {
      float: left;
      width: 15%;
      padding-right: 2%;
    }

    main {
      float: right;
      width: 85%;

      div {
        .pagination {
          width: 50%;
          margin: auto;
        }
      }
    }

    .FieldCollection {
      border: 1px solid #000;
      padding: 10px;
      border-radius: 5px;

      legend {
        width: 20%;
        padding-left: 10px;
        border: 1px solid #000;
        border-radius: 0 5px 5px 0;
      }
    }

    article {
      background-color: #fafafa;
      margin-bottom: 3.5em;

      header {
        border-bottom: 1px solid #dbdbdb;

        &::after {
          content: "";
          display: table;
        }

        h1 {
          border-left: 5px solid #2ca6cb;
          font-size: 200%;
          padding-top: .3em;
        }

        .list-inline {
          margin-right: 2%;
        }
      }

      main {
        float: none;
        width: auto;
        margin: 2%;
      }

      footer {
        border-top: 1px solid #dbdbdb;
        padding: 1% 4%;
        margin: 0;
      }
    }
  }
}
