{% extends 'admin.html.twig' %}

{% block content_title %}{{ title }}{% endblock %}

{% block bodyAdmin %}
    <form>
        <div id="formBuilder" data-url="{{ asset('build/formbuilder-lang') }}"></div>
        <a href="#" id="SaveFormBuilder">Save</a>
    </form>
{% endblock %}

