{% extends 'admin.html.twig' %}

{% block content_title %}{{ title }}{% endblock %}

{% block bodyAdmin %}
    <h1>{{ title }}</h1>
    <div id="workflow" class="canvas canvas-wide flowchart-demo jtk-surface jtk-surface-nopan">
        <div class="window jtk-node" id="flowchartWindow1"><strong>1</strong><br/><br/></div>
        <div class="window jtk-node" id="flowchartWindow2"><strong>2</strong><br/><br/></div>
        <div class="window jtk-node" id="flowchartWindow3"><strong>3</strong><br/><br/></div>
        <div class="window jtk-node" id="flowchartWindow4"><strong>4</strong><br/><br/></div>
    </div>
{% endblock %}

