.AdminPages {
    .access-wrap {
        display: none;
    }

    table {
        .img-thumbnail {
            max-width: 20%;
        }
    }

    button[type=submit] {
        display: none;
    }
}
