<h3>Message depuis le site %site%</h3>
<br />
Bonjour %username%, vous venez d'ajouter le t&eacute;l&eacute;phone %phone% &agrave; votre profil.
<br />
Pour pouvoir le valider,  merci de cliquer sur cette <a href="%url%">%url%</a>
