{% extends 'site.html.twig' %}
{% block page_title %}Weblog{% endblock %}
{% block bodySite %}
    <div class="container">
        <div class="col-md-12">
            {% for post in pagination %}
                {% include "front/posts/post.html.twig" with {'more': true } %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
