{% extends 'admin.html.twig' %}

{% block content_title %}Category index{% endblock %}

{% block bodyAdmin %}
    <h1>Category index</h1>
    <table class="table table-border table-hover table-striped table-sm thead-light" data-moment="MMMM Do YYYY, H:mm:ss" data-files="{{ asset('file/') }}" data-toggle="table" data-url="{{ api }}" data-locale="fr_FR" data-pagination="true" data-total-field="count" data-show-refresh="true" data-show-columns="true" data-show-fullscreen="true" data-checkbox-header="false" data-sortable="true" data-sort-class="table-active" data-height="600" data-side-pagination="server" data-sort-stable="true"  data-search="true" data-page-list="[5, 10, 25, 50]" data-show-refresh="true" data-show-toggle="true" data-id-field="id" data-click-to-select="true">
        <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="createdAt" data-sortable="true" data-formatter="dateFormatter">CreatedAt</th>
                <th data-field="updatedAt" data-sortable="true" data-formatter="dateFormatter">UpdatedAt</th>
            </tr>
        </thead>
    </table>

    <a href="{{ path('admincategory_new') }}">Create new</a>
{% endblock %}
