{% extends 'admin.html.twig' %}

{% block content_title %}Category index{% endblock %}

{% block bodyAdmin %}
    <h1>Category index</h1>

    {{ datatable_settings(datatable) }}

    <table class="table table-striped table-bordered dataTable" data-api="{{ api }}" id="DataTablesCategory">
        <thead>
            <tr>
                <th data-field="name">Name</th>
                <th data-field="createdAt">CreatedAt</th>
                <th data-field="updatedAt">UpdatedAt</th>
            </tr>
        </thead>
    </table>

    <a href="{{ path('admincategory_new') }}">Create new</a>
{% endblock %}
