{% set classBody = "AdminPages" %}
{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('admin_dashboard') }}">Company name</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ path('app_logout') }}">Sign out</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        {% for link in menuadmin %}
                            <li class="nav-item">
                                <a class="nav-link{% if link['current'] is defined %} active{% endif %}" href="{{ path(link['url']) }}">
                                {{ link['title'] }}{% if link['current'] is defined %} <span class="sr-only">(current)</span>{% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
    {% block bodyAdmin %}

    {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
