{% macro flashbag(app) %}
    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            <button class="close" data-dismiss="alert">×</button>
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endmacro %}
