{% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
<a href="{{ path(
    app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')|merge(
        app.request.query.all|merge(
            {_switch_user: item.username}
        )
    )
) }}">Personnalisation</a>
{% endif %}
