{% import "macro.html.twig" as macroSite %}
{% extends 'site.html.twig' %}
{% block page_title %}Histoires{% endblock %}
{% block bodySite %}
    <div class="container">
        <div class="col-md-12">
            {% for histoire in pagination %}
                {% include "front/history/history.html.twig" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
