{% import "macro.html.twig" as macroSite %}
{% extends 'site.html.twig' %}
{% block page_title %}{{ entity.name }}{% endblock %}
{% block aside %}
    <div>Liste des chapitres</div>
    <ul class="list-group">
        {% for i, rowChapitre in chapitres %}
            <li class="list-group-item">
                <a href="{{ path('history_show', {'slug': entity.slug, 'chapitre' : rowChapitre.position+1}) }}">
                    {{ rowChapitre.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block bodySite %}
    {% include "front/history/history.html.twig" with {'histoire': entity} %}
{% endblock %}
